//- profile.pug
extends layout.pug

block title
  title= title

block content
  div.container
    h1 Welcome!
    h3 This is the Profile page.
    a(href="/create") Create an Activity!
    if user
      p User Detected
      p Welcome, #{user.properties.firstName}
    h3 Here are your messages:
    ul
      each element in messageRecords
        li Message: #{element.message}, Sender: #{element.sender}
      else
        li No messages :()
    h3 Here are the available activities:
    ul
      each element in activities
        li
          h4= element.properties.name
          pre.language-json
            code.language-json= JSON.stringify(element, null, '\t')
      else
        p No activities yet :()

    h3 Here are the users of the system:
    ul
      each element in users
        li
          h4 #{element.properties.firstName + ' ' + element.properties.lastName}
          pre.language-json
            code.language-json= JSON.stringify(element, null, '\t')
      else
        li No users :()
